<launch>

  <!-- send Panda urdf to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm.urdf.xacro' hand:=true"/>

  <include file="$(find panda_moveit_config)/launch/planning_context.launch"/>

  <node name="check_collision_node" pkg="seven_dof_arm_test" type="check_collision_node" respawn="false" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>