<launch>

  <arg name="gazebo" default="true"/>
  <!-- Launch Gazebo  -->
  <include file="$(find dodo_arm_gazebo)/launch/dodo_arm_world.launch" if="$(arg gazebo)"/>
 

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find dodo_arm_gazebo)/config/dodo_arm_gazebo_control_effort.yaml" command="load"/>


  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/dodo_arm" args="joint_state_controller arm_controller gripper_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/dodo_arm/joint_states" />
  </node>

</launch>
