<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

    <!-- GAZEBO arguments -->
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />
    <arg name="load_gripper" default="true" />

    <!--launch GAZEBO with own world configuration -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find robotics_assisted_tomography)/worlds/tomography.world"/> -->
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find panda_simulation)/config/panda_control.yaml" command="load" />


    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller panda_arm_controller" />
    <node if="$(arg load_gripper)" name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_hand_controller" />


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>
    <group if="$(arg gui)">
        <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" />
    </group>

    <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired" />

    <!-- launch robot control node for moveit motion planning -->
    <node pkg="panda_simulation" type="robot_control_node" name="robot_control_node" output="screen" />

    <!-- load (not start!) custom joint position controller -->
    <node pkg="controller_manager" type="spawner" name="joint_position_launcher" args="--stopped joint_position_controller" />

    <!-- run custom node for automatic intialization -->
    <node pkg="panda_simulation" type="robot_state_initializer_node" name="robot_state_initializer_node" />

    <!-- for web interface -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
    </include>




    <!-- launch table spawn -->
    <arg name="table_file" value="$(find panda_simulation)/models/table_panda/model.sdf"/>
    <arg name="table_name" value="table" />

    <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(arg table_file) -sdf -x 1.4 -y 0.0 -z 0.0 -R 0 -P 0 -Y 0 -model $(arg table_name)"/> -->

    <!-- launch ball spawn -->
    <arg name="ball_file" value="$(find panda_simulation)/models/panda_sphere/model.sdf"/>
    <arg name="ball_name" value="ball" />

    <node name="spawn_ball" pkg="gazebo_ros" type="spawn_model" args="-file $(arg ball_file) -sdf -x -1.143 -y -0.047 -z 0.8 -R 0 -P 0 -Y 0 -model $(arg ball_name)"/>

    <!-- <arg name="node_start_delay" default="2.0" />  
    <node name="listener" pkg="roscpp_tutorials" type="listener" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->

    <!-- launch kinect spawn -->
    <arg name="kinect_file" value="$(find panda_simulation)/models/kinect/model.sdf"/>
    <arg name="kinect_name" value="kinect" />

    <node name="spawn_kinect" pkg="gazebo_ros" type="spawn_model" args="-file $(arg kinect_file) -sdf -x 0.366 -y 0.0 -z 1.26 -R 0 -P 1.06 -Y 0 -model $(arg kinect_name)"/>
    

    

    <node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" />
    <!-- 1.57-1.06 = 0.51 -->
    <node name="newframe2world" pkg="tf" type="static_transform_publisher" args="0.366 0.0 1.26 1.57 3.14 0.51 panda_link0 camera_link 100"/>
    <!-- <node name="frame2world" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 panda_link0 camera_link 100"/> -->

    <node pkg="panda_simulation" type="sphere_segment.cpp" name="point_cloud_preprocessor" />

</launch>