<launch>
    <arg name="model_file" value="$(find panda_simulation)/kinect/model.sdf"/>
    <arg name="model_name" value="kinect">
    <!-- <arg name="x" value="" />
    <arg name="y" value="" />
    <arg name="z" value="" />
    <arg name="roll" value="" />
    <arg name="pitch" value="" />
    <arg name="yaw" value="" /> -->


    <!-- <node name="box_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="robot_description:=box_description" /> -->
    <node name="spawn_kinect" pkg="gazebo_ros" type="spawn_model" args="-file $(arg model_file) -sdf -x 0.1 -y -0.5 -z 0.7 -R 0 -P 0 -Y 0 -model $(arg model_name)"/>

    
    <!-- launch node -->
    <node pkg="panda_simulation" type="box_publisher_node" name="box_publisher_node" />
</launch>