<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <!-- for simulation -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda.control.xacro"/>
  <!-- end for simulation -->

  <xacro:panda_arm xyz="0 0 0" rpy="0 0 0" connected_to="world" arm_id="panda"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" safety_distance="0.03"/>

  <!-- for simulation -->
  <xacro:panda_gazebo arm_id="panda"/>
  <xacro:panda_control arm_id="panda" load_hand="true" />
  <!-- end for simulation -->

  <!-- for Depth Camera -->
  <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
  <xacro:include filename="$(find franka_description)/robots/_d435.xacro"/>
  <xacro:sensor_d435 name="sensor_d435" topics_ns="sensor_d435" parent="panda_link6">
    <origin xyz="0.15 0.0 0.0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}"/>
    <!-- <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}"/> -->
  </xacro:sensor_d435>
  <!-- end for Depth Camera -->
  
  <!-- for gazebo grasp -->
  <gazebo>
    <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
         <arm>
            <arm_name>panda</arm_name>
            <palm_link>panda_link7</palm_link>
            <gripper_link>panda_leftfinger</gripper_link>
            <gripper_link>panda_rightfinger</gripper_link>
         </arm>
        <forces_angle_tolerance>100</forces_angle_tolerance>
        <update_rate>4</update_rate>
        <grip_count_threshold>4</grip_count_threshold>
        <max_grip_count>8</max_grip_count>
        <release_tolerance>0.005</release_tolerance>
        <disable_collisions_on_attach>false</disable_collisions_on_attach>
        <contact_topic>__default_topic__</contact_topic>
     </plugin>
 </gazebo>
 <!-- end for gazebo grasp -->


</robot>
